@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --color-black:#1E1E1E;
    --color-yellow:#FFD600;
    --color-white:#fff;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    box-sizing: content-box;
    margin: auto;

}
body{
    background-color: var(--color-black);
}
.header {
    margin-top: 31px;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    column-gap: 53px;
    margin-bottom: 31px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    column-gap: 70px;
    flex-direction: row;
}
.logo h1{
    font-family:'Battambang',sans-serif;
    color: var(--color-yellow);
    font-size: 25px;
}
.navbar-li-a{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.number h1{
    font-family:'Battambang',sans-serif;
    color: var(--color-yellow);
    font-size: 25px;
    text-decoration: underline;
    text-align: right;
}
.bg-img{
    background: url(src/image\ 1.png);
    height: 700px;
}

.h1 h1{
    font-family:'Battambang',sans-serif;
    color: var(--color-yellow);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
    padding-top: 203px;
}
.card{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.card p{
    font-family: 'Open Sans',sans-serif;
    font-size: 27px;
    color: var(--color-white);
}
.k{
    display: flex;
    flex-direction: row;
    column-gap: 102px;
    align-items: center;
}
.zg h1{
    font-family:'Battambang',sans-serif;
    color: var(--color-yellow);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 57px;
}
.cardd h1{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: var(--color-white);
}
.cardd h2{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: var(--color-yellow);
    font-weight: bold;
}
.cardd{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.hiti{
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    align-items: center;
}
.column1{
    display: flex;
    flex-direction: column;
    row-gap: 57px;
}
.column2{
    display: flex;
    flex-direction: column;
    row-gap: 57px;
}
.footer{
    margin-top: 93px;
}
.infa{
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    column-gap: 105px;
}
.menuu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    column-gap: 45px;
    flex-direction: row;
}
.text{
    text-align: center;
}
.text p{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: var(--color-white);
    text-align: center;
}
.text p1{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: var(--color-yellow);
    text-align: center;
    text-decoration: underline;
}
.zg1 h1{
    font-family:'Battambang',sans-serif;
    color: var(--color-yellow);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 25px;
}